*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2% ;
    background: blue;

    img{
        width: 200px;
        padding: 2px;
    }

    ul{
        display: flex;
        gap: 10px;
        list-style: none;
        font-size: 25px;
        
        
    }
    a{
        text-decoration: none;
        color: white;

    }

}