* {
  margin: 0;
  padding: 0;
  
}
body{
    background-image:url(/assets/images/pixelbackground.png);
    background-size: cover;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 2%;
  background: radial-gradient(blue,black);
  border-bottom: solid 2px yellow;

  img {
    width: 200px;
    padding: 2px;
  }

  ul {
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 25px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

footer{
text-align:center;
padding:2rem 1rem;
 background: radial-gradient(blue,black);
color:#9ecfff;
font-size:0.9rem;
border-top:2px solid var(--cyan);
box-shadow:0 -5px 25px rgba(0,200,255,0.3);
}
